<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>securecentral</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <!--Override the repository (and pluginRepository) "central" from the
               Maven Super POM -->
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
				<repository>
                    <id>mulesoft-releases</id>
                    <url>http://repository.mulesoft.org/releases</url>
                    <layout>default</layout>
                </repository>
				<repository>
                    <id>mulesoft-snapshots</id>
                    <url>http://repository.mulesoft.org/snapshots</url>
                    <layout>default</layout>
                </repository>
                <repository>
			        <id>mule-public</id>
			        <url>https://repository.mulesoft.org/nexus/content/repositories/releases</url>
			    </repository>
			    <repository>
			        <id>mule-ee-public</id>
			        <url>https://repository.mulesoft.org/nexus/content/repositories/releases</url>
			        <snapshots>
			        	<enabled>false</enabled>
			        </snapshots>
			    </repository>
			    <repository>
			        <id>mule-ee-snapshot</id>
			        <url>https://repository.mulesoft.org/nexus/content/repositories/snapshots</url>
			    </repository>
			    <repository>
			        <id>mule-esb-public</id>
			        <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
			    </repository>
			    <repository>
			        <id>mulesoft-master</id>
			        <url>https://repository-master.mulesoft.org/releases</url>
			    </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
                <pluginRepository>
			        <id>mule-public</id>
			        <url>https://repository.mulesoft.org/nexus/content/repositories/releases</url>
			    </pluginRepository>
			    <pluginRepository>
			        <id>mule-ee-public</id>
			        <url>https://repository.mulesoft.org/nexus/content/repositories/releases</url>
			        <snapshots>
			        	<enabled>false</enabled>
			        </snapshots>
			    </pluginRepository>
			    <pluginRepository>
			        <id>mule-ee-snapshot</id>
			        <url>https://repository.mulesoft.org/nexus/content/repositories/snapshots</url>
			    </pluginRepository>
			    <pluginRepository>
			        <id>mule-esb-public</id>
			        <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
			    </pluginRepository>
			    <pluginRepository>
			        <id>mulesoft-releases</id>
			        <url>http://repository.mulesoft.org/releases</url>
			        <layout>default</layout>
			    </pluginRepository>
			    <pluginRepository>
			        <id>mulesoft-snapshots</id>
			        <url>http://repository.mulesoft.org/snapshots</url>
			        <layout>default</layout>
			    </pluginRepository>
			    <pluginRepository>
			        <id>mulesoft-master</id>
			        <url>https://repository-master.mulesoft.org/releases</url>
			        <layout>default</layout>
			    </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
